@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1f2937;
  color: white;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, a, p, ul, li {
  color: white;
}
li::marker {
  color: white !important;
}