@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 255, 255, 255;
  --background-color: #4E514E;
}

html {
  color: rgb(var(--foreground-rgb));
}

body {
  background-color: #4E514E;
}


footer{
  /* position : min-h; */
  transform : translateY(-100%);
}
